<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("/lib/jquery/dist/jquery.min.js")"></script>

    <link href="~/assets-dashbord/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
             <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-normal">
                        Pharmative
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="btn btn-sm text-dark  " asp-controller="Dashbord" asp-action="Index">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p> Dashbord</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-dark  " asp-controller="Dashbord" asp-action="report">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p> Reports </p>
                        </a>
                    </li>

                    @{ @if (ViewBag.Role == 1)
                        {
                            <li>
                                <a class="btn btn-sm btn-dark " asp-controller="Emp" asp-action="Create">
                                    <i class="tim-icons icon-chart-pie-36"></i>
                                    <p> Add Employee</p>
                                </a>
                            </li>

                            <li>
                                <a class="btn btn-sm btn-dark" asp-controller="PharmaviteCategories" asp-action="Create">
                                    <i class="tim-icons icon-chart-pie-36"></i>
                                    <p> Add Categories</p>
                                </a>
                            </li>

                            <li>
                                <a class="btn btn-sm btn-dark  " asp-controller="PharmaviteProducts" asp-action="Create">
                                    <i class="tim-icons icon-chart-pie-36"></i>
                                    <p> Add Medicine</p>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-sm btn-dark" asp-controller="PharmaviteOrders" asp-action="Index">
                                    <i class="tim-icons icon-chart-pie-36"></i>
                                    <p> Orders </p>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-sm btn-dark" asp-controller="PharmaviteWebsites" asp-action="Edit" asp-route-id="1">
                                    <i class="tim-icons icon-chart-pie-36"></i>
                                    <p> Mange Website </p>
                                </a>
                            </li>
                        }
                    }
                </ul>
      </div>
</div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="search-bar input-group">
                                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal">
                                    <i class="tim-icons icon-zoom-split"></i>
                                    <span class="d-lg-none d-md-block">Search</span>
                                </button>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="notification d-none d-lg-block d-xl-block"></div>
                                    <i class="tim-icons icon-sound-wave"></i>
                                    <p class="d-lg-none">
                                        Notifications
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                    <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item ">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="photo">
                                        <img src="/assets-dashbord/img/anime3.png" alt="Profile Photo">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">
                                        Log out
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar badge-primary">
                                    <li class="nav-link"><a asp-controller="Dashbord" asp-action="Profile" asp-route-id="@ViewBag.id" class="nav-item dropdown-item">Edit Profile</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-link"><a asp-controller="LoginandRegistration" asp-action="Login" class="nav-item dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">

                @RenderBody()


            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Creative Tim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>2018 made with <i class="tim-icons icon-heart-2"></i> by
                        <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- End Navbar -->
    <!--   Core JS Files   -->
 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/assets-dashbord/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/assets-dashbord/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="~/assets-dashbord/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="~/assets-dashbord/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets-dashbord/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets-dashbord/js/black-dashboard.js?v=1.0.0" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
