@model Tuple<
                                                        List<Pharmavite_Saja.Models.PharmaviteUser>,
                                                        List<Pharmavite_Saja.Models.PharmaviteCategory>,
                                                        List<Pharmavite_Saja.Models.PharmaviteProduct>,
                                                        List<Pharmavite_Saja.Models.PharmaviteUser>,
                                                        List<double>
                                                        >
@{ Layout = "~/Views/Shared/_Layout_admin.cshtml";

    }

<link href="~/css/repo.css" rel="stylesheet" />
<div class="row">
    <div class="col">
        <div class="card ">
            <div class="chart-container-wrapper">
                <div class="chart-container">
                    <div class="chart-info-wrapper">
                        <h2>
                             
                            On-hold
                        </h2>
                        <span>10.5 K</span>
                    </div>
                    <div class="chart-svg">
                        <svg viewBox="0 0 36 36" class="circular-chart orange">
                            <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">90%</text>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="card ">
            <div class="chart-container-wrapper">
                <div class="chart-container">
                    <div class="chart-info-wrapper">
                        <h2>On-hold</h2>
                        <span>10.5 K</span>
                    </div>
                    <div class="chart-svg">
                        <svg viewBox="0 0 36 36" class="circular-chart orange">
                            <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">90%</text>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>  
    <div class="col">
        <div class="card ">
            <div class="chart-container-wrapper">
                <div class="chart-container">
                    <div class="chart-info-wrapper">
                        <h2>On-hold</h2>
                        <span>10.5 K</span>
                    </div>
                    <div class="chart-svg">
                        <svg viewBox="0 0 36 36" class="circular-chart orange">
                            <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">90%</text>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="chart-container-wrapper">
                <div class="chart-container">
                    <div class="chart-info-wrapper">
                        <h2>On-hold</h2>
                        <span>10.5 K</span>
                    </div>
                    <div class="chart-svg">
                        <svg viewBox="0 0 36 36" class="circular-chart orange">
                            <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">90%</text>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 admin_table">
        <div id="chart" style="height:150px">

        </div>
    </div>
    <div class="col-md-6 admin_table">
        <div class="card c2 ">
            <div class="card-header">
                <h4 class="card-title"> Users Data</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Address
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td>
                                        <img width="75" src="~/UserImages/@item.Img" alt="Alternate Text" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @*  <a asp-controller="Emp" asp-action="Edit" asp-route-id="@item.UserId"><i style="color:burlywood" class="fas fa-edit"></i></a> |*@
                                        <a asp-controller="Emp" asp-action="Details" asp-route-id="@item.UserId"><i style="color:antiquewhite" class="fas fa-window-restore"></i></a> |
                                        @* <a asp-controller="Emp" asp-action="Delete" asp-route-id="@item.UserId"><i style="color:darkred" class="fas fa-trash-alt"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    @{ @if (ViewBag.Role == 1)
            {


<div class="col-md-6 admin_table">
    <div class="card c2 ">
        <div class="card-header">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> Category Data</span>
            <span class="d-block d-sm-none">
                <i class="tim-icons icon-gift-2"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                    <thead>
                        <tr>
                            <th>
                                Category Imgae
                            </th>
                            <th>
                                Category Name
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>
                                    <img width="75" src="/CategoryImages/@item.CategoryImg" alt="Alternate Text" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    <a asp-controller="PharmaviteCategories" asp-action="Edit" asp-route-id="@item.CategoryId"><i style="color:burlywood" class="fas fa-edit"></i></a> |
                                    <a asp-controller="PharmaviteCategories" asp-action="Details" asp-route-id="@item.CategoryId"><i style="color:antiquewhite" class="fas fa-window-restore"></i></a> |
                                    <a asp-controller="PharmaviteCategories" asp-action="Delete" asp-route-id="@item.CategoryId"><i style="color:darkred" class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 admin_table">
    <div class="card c2 ">
        <div class="card-header">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> Medicine Data</span>
            <span class="d-block d-sm-none">
                <i class="tim-icons icon-gift-2"></i>
            </span>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                    <thead>
                        <tr>
                            
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                              Image
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item3)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                               
                                <td>
                                    <img width="75" src="/CategoryImages/@item.Productimg" alt="Alternate Text" />
                                  
                                </td>
                                <td>
                                    <a asp-controller="PharmaviteProducts" asp-action="Edit" asp-route-id="@item.ProductId"><i style="color:burlywood" class="fas fa-edit"></i></a> |
                                    <a asp-controller="PharmaviteProducts" asp-action="Details" asp-route-id="@item.ProductId"><i style="color:antiquewhite" class="fas fa-window-restore"></i></a> |
                                    <a asp-controller="PharmaviteProducts" asp-action="Delete" asp-route-id="@item.ProductId"><i style="color:darkred" class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
    }
        }
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var resdata = [];
    var resdata2020 = [];
    var resdata2019 = [];
    $.get("/Dashbord/SalesLastYear", async (data) => {
        resdata = await data
        console.log(data);
    });
    $.get("/Dashbord/SalesYearBefor", async (data) => {
        resdata2020 = await data
        console.log(data);
    });
    $.get("/Dashbord/SalesYearBefor2", async (data) => {
        resdata2019 = await data
        console.log(data);
    });


    setTimeout(() =>{
        var options = {
            chart: {
                type: 'area',
                animations: {
                    enabled: true,
                    easing: 'easeinout',
                    speed: 1000,
                    animateGradually: {
                        enabled: true,
                        delay: 500
                    },
                    dynamicAnimation: {
                        enabled: true,
                        speed: 350
                    }
                }
            },
            stroke: {
                curve: 'smooth',
            },
            series: [{
                name: 'Sales 2021',
                data: resdata
            }, {
                    name: 'Sales 2020',
                    data: resdata2020
                }, {
                    name: 'Sales 2019',
                    data: resdata2019
                }
            ],
            xaxis: {
                categories: ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            
            dataLabels: {
                enabled: false
            }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
    },2000);
</script>
