@model Pharmavite_Saja.Models.PharmaviteOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PharmaviteOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleverdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleverdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIdfkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIdfkNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
